<!DOCTYPE html>
<html ng-app="congressApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tennessee Congressional District Finder</title>
  </script>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
 <h1>Tennessee Congressional District Finder</h1>

 <div class="container" ng-controller="LocateDistrictController as locate">
    <form name="getLocate" ng-submit="getLocate.$valid && locate.findNewAddress()" novalidate>
      <label>Enter Your Complete Address</label>
      <div class="form-group">
        <label class="control-label">Street Address:</label>
        <input class="form-control" id="street" type="text" ng-model="locate.newAddress.street" required>
        <label class="control-label">City:</label>
        <input class="form-control" id="city" type="text" ng-model="locate.newAddress.city" required>
        <label class="control-label">State:</label>
        <input class="form-control" id="state" type="text" ng-model="locate.newAddress.state" required>
        <label class="control-label">Zipcode:</label>
        <input class="form-control" id="zipcode" type="text" ng-model="locate.newAddress.zipcode" required>
        <input type="submit" id="location" value="Search For Your District">
      </div>
    </form>
    <table name="representative">
       <tr ng-repeat="(key, value) in locate.items">
          <td>{{key}}</td>
          <td>{{value}}</td>
      </tr>
    </table>
  </div>
  <div class="container" ng-controller="MapController as map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" minZoom="map.minZoom" draggable="false">
    </ui-gmap-google-map>
  </div>
</body>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ0mm1UHnl_O-PPk4WrqWoUgT7LkmiJ00'></script>
 <script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src='bower_components/lodash/dist/lodash.min.js'></script>
<script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src="scripts/main.js"></script>
</html>
