<div class="jumbotron head">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" >
      <h1 class="text-responsive" id="titles">Tennessee Congressional District Finder</h1>
    </div>
  </div>
  <div class="row naver">
    <ul class="nav nav-tabs toggler">
    <li role="presentation"><a class="btn btn-primary toggle-button"href="#/district/:id">View Congressman</a></li>
    <li role="presentation"><a class="btn btn-primary button-search" href="#/">New District Search</a><li>
  </ul>
  </div>
</div>
<div class="jumbotron" id="new">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2">
      <h3 class="text-left districtcolor">{{locate.items.district}} Congressional District</h3>
    </div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 districtmaps">
      <img src="{{locate.items.map}}" class="img-responsive"></div>
  <div class="col-sm-3 col-md-3 col-lg-3 county-info">
    <h3 class="districtcolor">Tennessee Counties Represented</h3>
      <p class="text-center districtcolor">{{locate.items.counties}}</p>
      </div>
  </div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
  <div class="demos">
<table class="table table-inline table-responsive text-center ">
  <Legend>Population Demographics</legend>
<tr>
<th class="col-sm-2 col-md-2 col-lg-2">Total Population</th>
<th class="col-sm-2 col-md-2 col-lg-2">Median Age</th>
<th class="col-sm-2 col-md-2 col-lg-2">White</th>
<th class="col-sm-2 col-md-2 col-lg-2">Black</th>
<th class="col-sm-2 col-md-2 col-lg-2">Hispanic</th>
<th class="col-sm-2 col-md-2 col-lg-2">Asian</th>
</tr>
<tr>
  <td  class="col-sm-2 col-md-2 col-lg-2">{{locate.items.population}}</td>
  <td  class="col-sm-2 col-md-2 col-lg-2">{{locate.items.age}}</td>
<td class="col-sm-2 col-md-2 col-lg-2">{{locate.race.white}}</td>
<td class="col-sm-2 col-md-2 col-lg-2">{{locate.race.black}}</td>
<td class="col-sm-2 col-md-2 col-lg-2">{{locate.race.hispanic}}</td>
<td class="col-sm-2 col-md-2 col-lg-2">{{locate.race.asian}}</td>
</tr>
</table>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
  <div class="demos">
<table class="table table-responsive text-center">
  <legend>Household Income</legend>
  <tr>
    <th class="col-sm-2 col-md-2 col-lg-2">Median household income</th>
    <th class="col-sm-2 col-md-2 col-lg-2">Unemployment rate</th>
    <th class="col-sm-2 col-md-2 col-lg-2">Income below $10,000</th>
    <th class="col-sm-2 col-md-2 col-lg-2">Income between $15,000-$25,000</th>
    <th class="col-sm-2 col-md-2 col-lg-2">Income between $25,000-$100,000</th>
    <th class="col-sm-2 col-md-2 col-lg-2">Income over $100,000</th>
  </tr>
  <tr>
    <td class="col-sm-2 col-md-2 col-lg-2">{{locate.income.median}}</td>
    <td class="col-sm-2 col-md-2 col-lg-2">{{locate.income.unemploy}}</td>
    <td class="col-sm-2 col-md-2 col-lg-2">{{locate.income.poverty}}</td>
    <td class="col-sm-2 col-md-2 col-lg-2">{{locate.income.twenty}}</td>
    <td class="col-sm-2 col-md-2 col-lg-2">{{locate.income.hundred}}</td>
    <td class="col-sm-2 col-md-2 col-lg-2">{{locate.income.oneHundredPlus}}</td>
  </tr>
</table>
</div>
</div>
</div>
</div>
</div>
