<div class="col-sm-12 col-md-12 col-lg-12"><h3 class="text-center">{{locate.items.congressSeat}} Congressional District</h3></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12"><img src="images/tn5.png" class="img-responsive"></div>
  </div>
</div>
<table class="table table-responsive text-center">
<tr>
<th class="col-sm-3 col-md-3 col-lg-3">White</th>
<th class="col-sm-3 col-md-3 col-lg-3">Black</th>
<th class="col-sm-3 col-md-3 col-lg-3">Hispanic</th>
<th class="col-sm-3 col-md-3 col-lg-3">Asian</th>
</tr>
<tr>
<td class="col-sm-3 col-md-3 col-lg-3">{{locate.race.white}}</td>
<td class="col-sm-3 col-md-3 col-lg-3">{{locate.race.black}}</td>
<td class="col-sm-3 col-md-3 col-lg-3">{{locate.race.hispanic}}</td>
<td class="col-sm-3 col-md-3 col-lg-3">{{locate.race.asian}}</td>
</tr>
</table>
<table class="table table-responsive text-center">
  <tr>
    <th>Income over $100,000</th>
    <th>Median household income</th>
    <th>Income below $10,000</th>
    <th>Income between $15,000-$25,000</th>
    <th>Income between $25,000-$100,000</th>
    <th>Unemployment rate</th>
  </tr>
  <tr ng-repeat="(key,value) in locate.income">
      <td "col-sm-3 col-md-3 col-lg-3">{{value}}</td>
  </tr>
</table>
<div class="col-lg-5"><a class="btn btn-primary" href="#/district/:id">Congressman</a></div>
</div>
<!-- <div ng-controller="ChartController as chart">
  <div
  data-ac-chart="'pie'"
  data-ac-data="data"
  data-ac-config="config"
  class="chart">
</div>
</div> -->
