html, body {
  height: 100%;
}
#titler {
  text-align: center;
  vertical-align: top;
  opacity: 1.0;
  font-weight: bold;
  text-color: white;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 34px;
}
h3 {
  text-align: center;
}
.button-search {
  background-color: black;
}
.toggle-button {
  background-color: slategrey;
  margin-left: 10px;
}
.click-direction {
  color: white;
}
.control-label {
  color: white;
}
.buttons {
  vertical-align: bottom;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 0;
}
.toggler {
  vertical-align: bottom;
  margin-bottom: 0;
}
.rock {
  margin-bottom: 0;
  text-align: center;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.maps {
  margin-bottom: 25px;
}
.maplabel {
  background-color: white;
  margin: 0;
  border-color: #cdc79c;
  border-width: 2px;
  border-style: solid;
}
#zipcode {
  width: 75px;
}
#state {
  width: 125px;
}
/*{
  margin: 0;
  height: 200px;
  background-color: black;
  background-image: url('/images/header1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
.jumbotron {
  height: 100%;
  margin: 0 0;
  width: 100%;
  background-color: black;
  border-top: 0;
}
.head {
  margin: 0;
  height: 200px;
  background-color: black;
  background-image: url('/images/header1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}
.naver {
  vertical-align: bottom;
  margin-bottom: 0;
}
.dist9map {
  margin: 0 auto;
}
.distmap {
  background-color: white;

}
.seal {
  margin: 0 auto;
}
.committees {
  font-weight: bold;
}
.contacting {
  background-color: green;
  min-height: 300px;
  margin-right: 0;
}
.contact-info li {
  text-decoration: none;
  text-align: left;
  margin-left: 0;
  list-style-type: none;
}
.pobio {
  background-color: lightblue;
}
.iframed {
  border-width: 4px;
  border-color: darkgrey;
  border-style: groove;
  padding: 0 0;
}
.elec {
  border-color: black;
  border-style: groove;
  border-width: 5px;
}
.map {
  border-color: black;
  border-style: groove;
  border-width: 4px;
}
.rep {
  background-color: grey;
  min-height: 300px;
}
.districtmap {
  border-color: black;
  border-width: 2px;
  border-style: groove;
}
#image {
  width: 100%;
  height: 100%;
}
th {
  text-align: center;
}
td {
  display: inline-block;
}

h2 {
  margin: auto;
}
.container-fluid { margin: 20px 100px;}
.angular-google-map, .angular-google-map-container { height: 300px; }
