html, body {
  height: 100%;
}
h1 {
  margin: 50px auto;
  text-align: center;
}
div {
  margin: auto;
}

form, label, input {
  display: inline-block;
}
input {
  width: 50px;
}
table {
  width: 500px;
  height: 400px;
}
 tr {
  display: inline-block;
  margin: 1px;
}

td {
  display: inline-block;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height: 50px;


}
.container-fluid { margin: 20px 100px;}
.angular-google-map, .angular-google-map-container { height: 300px; }
