html, body {
  height: 100%;
}
h1 {
  text-align: center;
  opacity: 1.0;
  font-weight: bold;
}
h3 {
  text-align: center;
}
#zipcode {
  width: 75px;
}
#state {
  width: 125px;
}
.page-header {
  height: 150px;
  background-image: url('/images/tennflag.png');
  background-repeat: no-repeat;
  background-size: cover;


  margin-top: 0;
}
.iframed {
  border-width: 4px;
  border-color: darkgrey;
  border-style: groove;
  padding: 0 0;
}
.elec {
  border-color: black;
  border-style: groove;
  border-width: 5px;
}
.map {
  border-color: black;
  border-style: groove;
  border-width: 4px;
}
.rep {
  background-color: grey;
}
#image {
  width: 100%;
  height: 100%;
}
.jumbotron {
  width: 100%;
  height: 100%;
  background-color: black;
}

h2 {
  margin: auto;
}
.container-fluid { margin: 20px 100px;}
.angular-google-map, .angular-google-map-container { height: 300px; }
